numpy>=1.16.3,<2
scipy>=1.2.1,<2
scikit-learn>=0.21.1,<1
torch>=1.1.0,<2
torchvision>=0.2.2.post3,<1
matplotlib>=3.0.3,<4
pytest>=4.5.0,<5
tensorboard>=1.14.0
nltk>=3.4

PyYAML~=5.3.1
loguru~=0.5.1
pandas~=0.25.3